#root {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.css-1qh2co6-MuiPaper-root-MuiAccordion-root {
  background-color: transparent !important;
  box-shadow: none !important;
  position: unset !important;
  background-image: none !important;
}
